@import "./style.scss";
/* 附近电桩 */
.wrap {
    line-height: 1;
    .clearfix:after {
        display: block;
        content: '';
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .top-bar {
        margin-top: 0;
        background: #efeff4;
        display: flex;
        align-items:center;
        border-bottom: 1px solid $border-color;
    }

    .city-select-wrap {
        display: inline-block;
        margin-right: 0.3rem;
        font-size: $md-font-size;
        padding: $primary-padding-top $primary-padding-left;
        .select-text {
            vertical-align: middle;
            i {
                content: ' ';
                display: inline-block;
                width: 7px;
                height: 7px;
                vertical-align: middle;
                border-top: 1px solid $font-color;
                border-left: 1px solid $font-color;
                transform: rotate(-135deg) translate(3px);
                position: relative;
                top: -1px;
                margin-left: 4px;
            }
        }
        .city-select {
            opacity: 0;
            position: absolute;
            top: 0;
            height: 100%;
            font-size: $lg-font-size;
        }
    }
    .search-bar-wrap {
        padding: 0;
        &:before, &:after {
            border: 0;
        }
        .search-input-box {
            float: left;
        }

    }
    .search-input-label {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .history-wrap {
        font-size: $md-font-size;
        padding: $primary-padding-top $primary-padding-left;
        margin-left: 0.2rem;
        span {
            vertical-align: middle;
        }
        i {
            display: inline-block;
            content: '';
            width: 15px;
            height: 15px;
            vertical-align: middle;
            background-image: url(./images/star.png);
            background-size: 15px 15px;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    .list-wrap {
        background: #fff;
        position: relative;
        z-index: 2;
    }
    .bottom-tips {
        font-size: $sm-font-size;
        color: #aaa;
        text-align: center;
        margin: 0.6rem auto;
    }
}
/* end 附近电桩 */


/* 附近电桩list，共用 */
.list-item-wrap {
    line-height: 1;
    padding: $primary-padding-top 0;
    margin: 0 $primary-padding-left;
    padding-right: 0;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    .item-left {
        flex: 1;
    }
    .item-right {
        width: 2rem;
        text-align: center;
        .item-dis-icon {
            width: 20px;
            height: 20px;
            background-image: url(./images/gps-icon.png);
            background-size: 20px 20px;
            margin: 0 auto;
        }
        .item-dis {
            font-size: $md-font-size;
            color: $dark-font-color;
            margin-top: 10px;
        }
    }
    .item-name {
        font-size: $lg-font-size;
        color: $font-color;
    }
    .item-addr {
        font-size: $md-font-size;
        color: $light-font-color;
        margin: 0.21rem 0 0.3rem;
    }
    .item-detail {
        font-size: $sm-font-size;
        color: $light-font-color;
            height: 16px;
            line-height: 16px;
        .item-free, .item-busy {
            margin-right: 8px;
            vertical-align: middle; 
        }
        .free-icon, .busy-icon {
            display: inline-block;
            content: '';
            width: 16px;
            height: 16px;
            vertical-align: middle;
            background-size: 16px 16px;
        }
        .free-icon {
            background-image: url(./images/free-icon.png);
        }
        .busy-icon {
            background-image: url(./images/used-icon.png);
        }
    }
    
}
/* end */


/* 充电桩详情页 */
.top-detail-wrap {
    background: #fff;
    .list-item-wrap {
        border-bottom: 0;
    }
    .top-detail-info {
        display: flex;
        align-items: center;
        margin-bottom: 0.2rem;
        .detail-left {
            flex: 1;
        }
        .detail-right {
            float: right;
            font-size: $sm-font-size;
            color: $light-font-color;
            text-align: center;
            &:before {
                display: block;
                content: '';
                width: 20px;
                height: 20px;
                margin: 0 auto 4px;
                border: 1px solid #eee;
            }
        }
    }
    
    .detail-name {
        font-size: $lg-font-size;
        color: $font-color;
        line-height: 1.2;
    }
    .detail-addr {
        color: $font-color;
        font-size: $md-font-size;
        margin-top: 0.2rem;
        line-height: 1.2;
    }
    .detail-line {
        color: $light-font-color;
        font-size: $sm-font-size;
        line-height: 1.2;
        .detail-time {
            float: right;
        }

    }
    .top-btn-list {
        padding-top: $primary-padding-top;
        font-size: $md-font-size;
        color: $light-font-color;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .icon {
            &:before {
                content: ' ';
                display: inline-block;
                width: 20px;
                height: 20px;
                border: 1px solid #eee;
                vertical-align: middle;
                margin-right: 2px;
            }
        }
    }
}
.middle-detail-wrap {
    background: #fff;
    margin-top: 0.2rem;
    padding: $primary-padding-top $primary-padding-left;
    .detail-item-line {
        display: flex;
        justify-content: center;
        align-items: center;
        .detail-item-wrap {
            margin: 0.2rem auto;
        }
        .detail-item {
            width: 1.73rem;
            height: 1.73rem;
            text-align: center;
            font-size: $md-font-size;
            border-radius: 0.32rem;
            margin-bottom: 0.15rem;
            
        }
        .detail-item-status {
            font-size: $md-font-size;
            text-align: center;
        }
        .detail-item-free {
            border: 1px solid #999;
            background: url(./images/socket.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 0.93rem 0.4rem;
        }
        .detail-item-busy {
            background: $primary-color;
            border: 1px solid $primary-color;
            font-size: $sm-font-size;
            color: #fff;
            padding: 0.3rem 0.1rem;
            box-sizing: border-box;
            .left-time {
                margin: 0.1rem auto 0.2rem;
            }
            .battery-list {
                display: flex;
                justify-content: space-around;
                padding: 0 4px;
                div {
                    width: 3px;
                    height: 10px;
                    background: #fff;
                }
                .item-1 {
                    animation: twinkling 3s 0s linear infinite;
                }
                .item-2 {
                    animation: twinkling 3s 0.2s linear infinite;
                }
                .item-3 {
                    animation: twinkling 3s 0.4s linear infinite;
                }
                .item-4 {
                    animation: twinkling 3s 0.6s linear infinite;
                }
                .item-5 {
                    animation: twinkling 3s 0.8s linear infinite;
                }
                .item-6 {
                    animation: twinkling 3s 1s linear infinite;
                }
                .item-7 {
                    animation: twinkling 3s 1.2s linear infinite;
                }
                .item-8 {
                    animation: twinkling 3s 1.4s linear infinite;
                }
                .item-9 {
                    animation: twinkling 3s 1.6s linear infinite;
                }
                .item-10 {
                    animation: twinkling 3s 1.8s linear infinite;
                }
            }
        }
    } 
}
@keyframes twinkling {
    0% {
        background-color: #fff; 
    }
    5% {
        background-color: $primary-color - 22;
    }
    10% {
        background-color: #fff; 
    }
    100% {
        background-color: #fff; 
    }
}
.bottom-detail-wrap {
    background: #fff;
    margin-top: 0.2rem;
    padding: $primary-padding-top $primary-padding-left;
    font-size: $sm-font-size;
    color: $font-color;
    .bottom-title {
        padding-bottom: $primary-padding-top;
        font-size: $lg-font-size;
    }
    .pay-way-wrap {
        font-size: $md-font-size;
        color: $light-font-color;
        margin-left: 6px;
        i {
            width: 0.427rem;
            height: 0.373rem;
            display: inline-block;
            background-image: url(./images/pay-icon.png);
            background-size: 0.427rem 0.373rem;
            background-position: center center;
        }
    }
    .bottom-price-line {
        display: flex;
        justify-content: space-between;
        padding-bottom: $primary-padding-top;
        div {
            flex: 1;
            font-size: $md-font-size;
            color: $dark-font-color;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            border-right: 1px solid $border-color;
            text-align: center;
            padding: 0.2rem 0;
        }
        div:first-child {
            border-left: 1px solid $border-color;
        }
    }
    .bottom-tips {
        font-size: $md-font-size;
        color: $light-font-color;
        text-align: left;
        margin: 0;
        padding: 0;
        line-height: 1.4;
        padding-bottom: 0.2rem;
    }
}
.detail-btn-wrap {
    width: 90%;
    margin: 0.4rem auto;
    .detail-bottom-btn {
        background: $primary-color;
        i {
            display: inline-block;
            content: '';
            width: 0.4rem;
            height: 0.4rem;
            background-image: url(./images/sao-icon.png);
            background-size: 0.4rem 0.4rem;
            background-position: center center;
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-right: 4px;
            position: relative;
            top: -1px;
        }
    }
}
/* end detail*/




/* 二级list-充电桩list */
.second-list-top {
    background: #fff;
    .list-item-wrap {
        border-bottom: 0;
    }
}
.second-list-block {
    background: #fff;
    margin-top: 0.2rem;
    .second-list-item {
        margin: 0 $primary-padding-left;
        padding: $primary-padding-top 0;
        display: flex;
        border-bottom: 1px solid $border-color;
        align-items: center;
        .second-item-left {
            width: 1rem;
            height: 1rem;
            border-radius: 0.5rem;
            text-align: center;
            line-height: 1rem;
            background: $primary-color;
            color: #fff;
            margin-right: 0.32rem;
            font-size: 0.45rem;
        }
        .second-item-right {
            flex: 1;
            .second-item-name {
                font-size: $md-font-size;
                color: $font-color;
                line-height: 1.5;
            }
            .second-item-detail {
                font-size: $sm-font-size;
                color: $light-font-color;
                line-height: 1.5;
                span {
                    margin-right: 0.14rem;
                    &:before {
                        width: 8px;
                        height: 8px;
                        content: '';
                        display: inline-block;
                        border-radius: 4px;
                        margin-right: 4px;

                    }
                }
                .free-icon:before {
                    background: #09bb07;
                }
                .used-icon:before {
                    background: #f43530;
                }
            }
        }
        .second-item-icon {
            width: 6px;
            height: 6px;
            border-top: 2px solid #c8c8cd;
            border-right: 2px solid #c8c8cd;
            transform: rotate(45deg);
            float: right;
            margin-right: 0.1rem;
        }
    }
}
/* end */

/* 关注公众号页 */
.qrcode-wrap {
    background: #fff;
    padding: 0.4rem 0.3rem;
    .title {
        font-size: $xl-font-size;
        color: $font-color;
    }
    .time-wrap {
        font-size: $lg-font-size;
        color: $light-font-color;
        .icon {

        }
        a {
            color: $primary-color;
        }
    }
    .step-wrap {
        margin-top: 0.5rem;
        .step-title {
            font-size: $xl-font-size;
            color: $primary-color;
            margin-bottom: 5px;
        }
        .step {
            font-size: $md-font-size;
            color: $font-color;
            line-height: 2.4;
        }
        .step-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 10px;
            background: $primary-color;
            color: #fff;
            text-align: center;
        }
    }
    .qrcode-block {
        font-size: $md-font-size;
        color: $light-font-color;
        text-align: center;
        margin-top: 20px;
        .qrcode {
            width: 120px;
            height: 120px;
            border: 1px solid #eee;
            margin: 0 auto 4px;
        }
    }

}
/* end */

