$font-color: #333;
$light-font-color: #aaa;
$primary-color: #f00;
$border-color: #e7e7e7;

$top-bar-height: 1rem;

$lg-font-size: 0.45rem;
$md-font-size: 0.4rem;
$sm-font-size: 0.35rem;


$item-icon-size: 0.45rem;
$free-bg: #0f0;
$busy-bg: #f00;
$total-bg: #00f;

$primary-padding-left: 0.25rem;
$primary-padding-top: 0.3rem;

html {
    background: $border-color;
}
.wrap {
    line-height: 1;
    .clearfix:after {
        display: block;
        content: '';
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .top-bar {
        margin-top: 0;
        background: #fff;
        display: flex;
        align-items:center;
    }

    .city-select-wrap {
        display: inline-block;
        margin-right: 0.4rem;
        font-size: $lg-font-size;
        height: 1.2rem;
        line-height: 1.2rem;
        padding-left: $primary-padding-left;
        position: relative;
        .select-text {
            display: flex;
            align-items: center;
            &:after {
                content: ' ';
                display: inline-block;
                width: 0.2rem;
                height: 0.2rem;
                border-top: 1px solid $font-color;
                border-left: 1px solid $font-color;
                transform: rotate(-135deg) translate(3px);
                margin-left: 10px;
            }
        }
        .city-select {
            opacity: 0;
            position: absolute;
            top: 0;
            height: 100%;
            font-size: $lg-font-size;
        }
    }
    .search-input {
        display: inline-block;
        flex: 1;
        width: 100%;
        height: 0.6rem;
        line-height: 0.6rem;
        background: $border-color;
        border-radius: 4px;
        padding: 0.15rem 0.3rem;
        margin-right: 0.5rem;
        font-size: $lg-font-size;
        border: 0;
        outline: 0;
        -webkit-appearance: none;
    }

    .list-wrap {
        background: #fff;
        margin-top: 0.1rem;
        .list-item-wrap {
            padding: $primary-padding-top $primary-padding-left;
            padding-right: 0;
            border-bottom: 1px solid $border-color;
            display: flex;
            align-items: center;
            .item-left {
                flex: 1;
            }
            .item-right {
                width: 2rem;
                text-align: center;
                border-left: 1px solid $border-color;
                .item-dis-icon {
                    width: 1rem;
                    height: 1rem;
                    border: 1px solid #333;
                    margin: 0 auto;
                }
                .item-dis {
                    font-size: $md-font-size;
                    color: $light-font-color;
                    margin-top: 4px;
                }
            }
            .item-name {
                font-size: $lg-font-size;
                color: $font-color;
            }
            .item-addr {
                font-size: $md-font-size;
                color: $light-font-color;
                margin: 0.2rem 0;
            }
            .item-detail {
                font-size: $sm-font-size;
                color: $light-font-color;
                .item-free, .item-busy, .item-total {
                    margin-right: 4px;
                    &:before {
                        display: inline-block;
                        padding: 2px;
                        border-radius: 4px;
                        margin-right: 4px;
                        color: #fff;
                    } 
                }
                .item-free:before {
                    content: '闲';
                    background: $free-bg;
                }
                .item-busy:before {
                    content: '充';
                    background: $busy-bg;
                }
                .item-total:before {
                    content: '共';
                    background: $total-bg;
                }
            }
            
        }
    }
}