$font-color: #111;
$dark-font-color: #666;
$light-font-color: #999;
$primary-color: #ff8500;
$border-color: #eaeaea;

$top-bar-height: 1rem;

$xl-font-size: 0.5rem;
$lg-font-size: 0.425rem;
$md-font-size: 0.373rem;
$sm-font-size: 0.32rem;


$item-icon-size: 0.45rem;
$free-bg: #0f0;
$busy-bg: #f00;
$total-bg: #00f;

$primary-padding-left: 0.32rem;
$primary-padding-top: 0.32rem;

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
    // font-family: Helvetica;
}
html {
    background: #f9f9f9;
}
.normal-btn {
    width: 90%;
}

.list-item-wrap {
    line-height: 1;
    padding: $primary-padding-top 0;
    margin: 0 $primary-padding-left;
    padding-right: 0;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    .item-left {
        flex: 1;
    }
    .item-right {
        width: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        .item-dis-icon {
            width: 20px;
            height: 20px;
            background-image: url(./images/gps-icon.png);
            background-size: 20px 20px;
            margin: 0 auto;
        }
        .item-dis {
            font-size: $md-font-size;
            color: $dark-font-color;
            margin-top: 10px;
        }
    }
    .item-name {
        font-size: $lg-font-size;
        color: $font-color;
    }
    .item-addr {
        font-size: $md-font-size;
        color: $light-font-color;
        margin: 0.21rem 0 0.3rem;
    }
    .item-detail {
        font-size: $sm-font-size;
        color: $light-font-color;
        height: 16px;
        line-height: 16px;
        .item-free, .item-busy {
            margin-right: 8px;
            vertical-align: middle;
            width: 5em;
            display: inline-block;
        }
        .free-icon, .busy-icon {
            display: inline-block;
            content: '';
            width: 16px;
            height: 16px;
            vertical-align: middle;
            background-size: 16px 16px;
        }
        .free-icon {
            background-image: url(./images/free-icon.png);
        }
        .busy-icon {
            background-image: url(./images/used-icon.png);
        }
    }
    
}


#pullDown, #pullUp {
    text-align: center;
}
.pullDownIcon, .pullUpIcon {
    display: none;
    width: 20px;
    height: 20px;
    background: transparent url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cpath fill='none' d='M0 0h100v100H0z'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E9E9E9' rx='5' ry='5' transform='translate(0 -30)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23989697' rx='5' ry='5' transform='rotate(30 105.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%239B999A' rx='5' ry='5' transform='rotate(60 75.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23A3A1A2' rx='5' ry='5' transform='rotate(90 65 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23ABA9AA' rx='5' ry='5' transform='rotate(120 58.66 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23B2B2B2' rx='5' ry='5' transform='rotate(150 54.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23BAB8B9' rx='5' ry='5' transform='rotate(180 50 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23C2C0C1' rx='5' ry='5' transform='rotate(-150 45.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23CBCBCB' rx='5' ry='5' transform='rotate(-120 41.34 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23D2D2D2' rx='5' ry='5' transform='rotate(-90 35 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23DADADA' rx='5' ry='5' transform='rotate(-60 24.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E2E2E2' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E") no-repeat;
    background-size: 100%;
}
.flip .pullDownIcon, .flip .pullUpIcon {
    display: inline-block;
    animation: weuiLoading 1s infinite;
}
.pullUpLabel, .pullDownLabel {
    display: none;
    font-size: $sm-font-size;
    color: $light-font-color;
    height: 20px;
}
.flip .pullDownLabel, .flip .pullUpLabel {
    display: block;
}
.list-empty {
    font-size: $md-font-size;
    color: $light-font-color;
    text-align: center;
    margin-top: 1rem;
    background: #f9f9f9;
}
#toast .toast-wrap, #loadingToast .toast-wrap {
    width: 8em;
    min-height: 8em;
    margin-left: -4em;
    font-size: $md-font-size;
}
#toast .toast-wrap {
    .toast-text {
        height: 8em;
        line-height: 8em;
        margin-bottom: 0;
    }
}
#iosDialog2 {
    .dialog-tips {
        padding: 1.5em 20px 1em;
        p {
            margin: 0;
            padding: 0;
            font-size: $md-font-size;
            color: $light-font-color;
            text-align: left;
            margin-bottom: 4px;
        }
    }
    .dialog-btn {
        font-size: 16px;
    }
}

@keyframes weuiLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}


