<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>电卡充值</title>
    <% for (var css in htmlWebpackPlugin.options.css) { %>
        <link href="<%=htmlWebpackPlugin.options.css[css] %>" rel="stylesheet">
    <% } %>

    <% for (var prejs in htmlWebpackPlugin.options.prejs) { %>
        <script type="text/javascript" src="<%=htmlWebpackPlugin.options.prejs[prejs] %>"></script>
    <% } %>
</head>
<body>
    <div class="card-charge-wrap card-wrap">
        <div class="card-no-wrap">
            <div class="card-charge-title card-no">卡号<i></i></div>
            
            <div class="input-wrap">
                <input class="weui-input card-no-input" type="number" id="J_card_no" placeholder="请输入电卡卡号"/>
                <i class="clear-icon" id="J_clear_icon"></i>
            </div>
            <div class="card-charge-balance" style="display: none;">可用余额<span class="highlight-text" id="J_balance">16</span>元</div>
        </div>
        <p class="card-error" style="display: none;"></p>
        <div class="card-no-wrap">
            <div class="card-charge-title">选择充值面额</div>
            <div class="btn-wrap" id="J_price_wrap">
                <a href="javascript:;" class="price-btn" data-price="0.02">0.02元</a>
                <a href="javascript:;" class="price-btn active-btn" data-price="0.05">0.05元</a>
                <a href="javascript:;" class="price-btn" data-price="0.01">0.01元</a>
            </div>
        </div>
        
        <div class="card-no-wrap">
            <div class="card-charge-title">选择支付方式</div>
            <div class="pay-wrap">
                <i></i>
                <span>微信支付</span>
            </div>
        </div>
        
        <a href="javascript:;" id="J_charge_btn" class="weui-btn weui-btn_primary charge-btn" id="J_charge_btn">充值</a>
    </div>   
    <div id="toast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast toast-wrap">
            <p class="weui-toast__content toast-text"></p>
        </div>
    </div> 
</body>
</html>