<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>电卡充值</title>
    <% for (var css in htmlWebpackPlugin.options.css) { %>
        <link href="<%=htmlWebpackPlugin.options.css[css] %>" rel="stylesheet">
    <% } %>

    <% for (var prejs in htmlWebpackPlugin.options.prejs) { %>
        <script type="text/javascript" src="<%=htmlWebpackPlugin.options.prejs[prejs] %>"></script>
    <% } %>
</head>
<body>
    <div class="charge-card-result card-wrap" style="display: none;">
        <div class="circle-bg">
            <div class="icon"></div>
        </div>
        <div class="success-text">充值成功</div>
        <div class="success-detail">
            <span id="J_card_id"></span>
            <span id="J_card_balance"></span>
        </div>

        <a href="./record.html" class="weui-btn weui-btn_primary history-btn">查看消费记录</a>
    </div>

    <div id="loadingToast" style="display:none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast toast-wrap">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content toast-text">数据加载中</p>
        </div>
    </div>

    <div id="toast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast toast-wrap">
            <p class="weui-toast__content toast-text">加载失败</p>
        </div>
    </div>
</body>
</html>