<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>支付成功</title>
    <% for (var css in htmlWebpackPlugin.options.css) { %>
        <link href="<%=htmlWebpackPlugin.options.css[css] %>" rel="stylesheet">
    <% } %>

    <% for (var prejs in htmlWebpackPlugin.options.prejs) { %>
        <script type="text/javascript" src="<%=htmlWebpackPlugin.options.prejs[prejs] %>"></script>
    <% } %>


    <script type="text/javascript" src="https://sdk.anbokeji.net/adv/index.js"></script>

</head>
<body>
    <div class="pay-success-wrap">
        <div class="top-banner" id="J_top_detail"></div>
        <div class="order-detail" id="J_detail"></div>

        <a href="javascript:;" class="weui-btn weui-btn_primary pay-finish-btn">完成</a>
        <a href="javascript:;" class="weui-btn order-btn">查看订单信息</a>
        
        <anboadv type="10001"></anboadv>
        <div class="bottom-logo"></div>
    </div>

    <script type="text/template" id="J_top_detail_template">
        <div class="left-wrap">
            <div class="item-icon">{{= it.slotIndex}}</div>
            <div class="item-name">插座号</div>
        </div>
        <div class="right-wrap">
            <div class="right-title-wrap">
               <div class="right-title">{{= it.location}}</div>
               <!-- <a class="question-icon" id="J_open_dialog"></a> -->
            </div>
            <div class="right-detail">
                <i class="place-icon"></i>
                <span>{{= it.locationDetail}}</span>
            </div>
            <div class="right-detail">
                <i class="num-icon"></i>
                <span>设备编号{{= it.deviceId}}</span>
            </div>
            <div class="right-detail">
                <i class="socket-icon"></i>
                <span>插座编号{{= it.slotSN}}</span>
            </div>
        </div>
    </script>

    
    <script type="text/template" id="J_template">
        <div class="line">
            <div class="name">支付金额</div>
            <div class="value">{{= (it.payment/100).toFixed(2)}} 元</div>
        </div>
        <div class="line">
            <div class="name">充电时长</div>
            <div class="value">{{= it.totalTime}} 小时</div>
        </div>
        <!-- <div class="line">
            <div class="name">下单时间</div>
            <div class="value">{{= it.startTime}}</div>
        </div> -->
    </script>

    


    <div id="toast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast toast-wrap">
            <p class="weui-toast__content toast-text">加载失败</p>
        </div>
    </div>

    <% for (var js in htmlWebpackPlugin.options.js) { %>
        <script type="text/javascript" src="<%=htmlWebpackPlugin.options.js[js] %>"></script>
    <% } %>
</body>
</html>