<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我的</title>
    <% for (var css in htmlWebpackPlugin.options.css) { %>
        <link href="<%=htmlWebpackPlugin.options.css[css] %>" rel="stylesheet">
    <% } %>

    <% for (var prejs in htmlWebpackPlugin.options.prejs) { %>
        <script type="text/javascript" src="<%=htmlWebpackPlugin.options.prejs[prejs] %>"></script>
    <% } %>
</head>
<body>
    <div class="user-wrap">
        <div class="user-banner">
            <div class="user-icon"></div>
            <div class="user-detail">
                <div class="user-name"></div>
            </div>
        </div>

        
        <div class="user-list-wrap weui-cells">
            <a class="weui-cell weui-cell_access" href="./progress.html">
                <div class="weui-cell__hd charging-icon"></div>
                <div class="weui-cell__bd">
                    <p>正在充电</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="./record.html">
                <div class="weui-cell__hd record-icon"></div>
                <div class="weui-cell__bd">
                    <p>充电记录</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>

        <div class="user-list-wrap weui-cells">
            <a class="weui-cell weui-cell_access" href="./applyCard.html">
                <div class="weui-cell__hd apply-icon"></div>
                <div class="weui-cell__bd">
                    <p>电卡申请</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="./chargeCard.html">
                <div class="weui-cell__hd charge-icon"></div>
                <div class="weui-cell__bd">
                    <p>电卡充值</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>

        <div class="user-list-wrap weui-cells">
            <a class="weui-cell weui-cell_access" href="./index.html">
                <div class="weui-cell__hd near-icon"></div>
                <div class="weui-cell__bd">
                    <p>附近充电站</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="./favourite.html">
                <div class="weui-cell__hd star-icon"></div>
                <div class="weui-cell__bd">
                    <p>常用充电站</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
    </div>
    
</body>
</html>